
$base : 1280;
@function get_vw($size, $viewport:$base ){
    $rate: 100 / $viewport;
    @return $rate * $size * 1vw;
}


* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    img {
        width: 100%;
    }
    
    li {
        list-style: none;
    }


    #element {
        width: 90%;
        margin: 0 auto;
    }

    .wrapper {
        width: 100%;
        margin: 0 auto;
        background: #fff;
        position: sticky;
        text-align: center;
        top: 0;
        z-index: 3;
        padding: 0.3rem 0;

        .demo {
            display: table;
            background: #333;
            color: #fff;
            text-align: center;
            margin: 0 auto;
            padding: 0.1rem 0.3rem;
        }
    }
    .is-load-list {
        width: get_vw(550);
        margin: 0 auto;
        padding: 1rem 0;
        transform: scale(1);
    }
}


// app



#end-message {
    text-align: center;
    width: get_vw(700);
    margin: 0 auto;
    color: #333;
}